asgiref
Django
asgiref
pytz
sqlparse
psycopg2
djangorestframework
django-cors-headers
markdown
django-filter
djangorestframework-simplejwt
pyyaml
pillow
pandas
openpyxl
redis
celery
django-celery-beat
django-celery-results
requests
